.chatbot-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
  }
  
  .chatbot-header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
  
  .progress-bar {
    position: relative;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  } 
  
  .chatbot-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 80%;
  }
  
  .message.bot {
    background-color: #eef2f7;
    align-self: flex-start;
    margin-right: auto; /* 왼쪽 여백을 자동으로 설정해서 오른쪽으로 배치 */
    margin-left: 0;
    text-align: left; /* 텍스트는 왼쪽 정렬로 유지 */
    border-bottom-right-radius: 0;
  }
  
  .message.user {
    background-color: #d1e7dd;
    align-self: flex-end;

    margin-left: auto; /* 왼쪽 여백을 자동으로 설정해서 오른쪽으로 배치 */
    margin-right: 0;
    text-align: left; /* 텍스트는 왼쪽 정렬로 유지 */
    border-bottom-right-radius: 0;
    
  }
  
  .chatbot-footer {
    display: flex;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
  }
  
  .chatbot-footer input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chatbot-footer button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background-color: #00462a;;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chatbot-footer button:hover {
    background-color: #0056b3;
  }