body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'MinSans-Regular', sans-serif;
  background-color: #FFFBE9; /* 전체 배경색 변경 */
}

.main-page {
  padding-top: 60px; /* 헤더 높이만큼 패딩 추가 */
  background-color: #FFFBE9; /* main-page 배경색 변경 */
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #014034; /* 상단바 색상 */
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  position: fixed; /* 최상단에 고정 */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* 다른 요소들 위에 위치 */
}

.menu-button, .profile-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.profile-button {
  padding: 0; /* 버튼 내부 여백 제거 */
}

.profile-image {
  width: 40px; /* 프로필 이미지 크기 조정 */
  height: 40px;
  border-radius: 50%; /* 원형으로 만들기 */
}

.title-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* 화면의 가로 폭에서 좌우 간격을 뺀 너비 */
  max-width: 1800px; /* 최대 너비를 더 크게 설정 */
  margin: 20px auto; /* 상하 간격 설정 및 가운데 정렬 */
}

.main-title {
  font-size: 1.8rem; /* 글꼴 크기를 크게 설정 */
  text-align: left;
  color: white; /* 문구 색상 흰색으로 설정 */
  flex-grow: 1;
  margin-left: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E3CAA5; /* main-content 배경색 설정 */
  padding: 40px; /* 패딩을 더 크게 설정 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 80px; /* 헤더 아래에 위치하도록 여백 추가 */
  width: 100%; /* 화면의 가로 폭에서 좌우 간격을 뺀 너비 */
  max-width: 1800px; /* 최대 너비를 더 크게 설정 */
  box-sizing: border-box;
}

.main-image {
  width: 150px; /* 이미지 크기 조정 */
  height: 150px; /* 이미지 높이 조정 */
  margin-right: 20px; /* 이미지와 제목 사이의 여백 설정 */
  object-fit: cover; /* 이미지가 주어진 공간에 맞게 조정 */
}

.question-button {
  background-color: #014034; /* 상단바 색상과 동일하게 설정 */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end; /* 오른쪽 정렬 */
  margin-bottom: 20px;
}

.main-textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'MinSans-Regular', sans-serif;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }
  
  .main-header {
    flex-direction: row; /* 작은 화면에서도 동일한 위치 유지 */
  }
  
  .main-title {
    font-size: 1.5rem; /* 작은 화면에서는 글꼴 크기 조정 */
    margin: 10px 0;
  }
  
  .main-content {
    padding: 20px; /* 작은 화면에서도 패딩을 크게 설정 */
    width: calc(100% - 20px); /* 작은 화면에서 좌우 간격을 뺀 너비 */
  }
  
  .main-image {
    width: 100px; /* 작은 화면에서는 이미지 크기 조정 */
    height: 100px; /* 작은 화면에서는 이미지 높이 조정 */
  }
  
  .question-button {
    padding: 10px;
  }
  
  .main-textarea {
    height: 150px;
  }
}
