/* 페이지 전체 중앙 정렬 및 배경색 */
.homepage{
  background-color: #FBF6E8;
  width: 100vw;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.login-container h1{
  color : #00462A;
  font-size : 2.6rem;
  margin-bottom : 10px;
}
/* 로그인 박스 중앙 정렬 */
.login-box {
  position: relative;
  text-align: center;
  z-index: 1; /* 문 뒤에 표시되도록 */
}

/* 문 애니메이션 컨테이너 */
.door-animation {
  position: absolute;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  z-index: 0;
}

/* 문 스타일 */
.door {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 2.5s ease;
}

.door img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 이미지가 잘리지 않도록 설정 */
}

.left-door {
  left: 0;
  transform-origin: left center;
}

.right-door {
  right: 0;
  transform-origin: right center;
}

/* 문 열리는 애니메이션 */
.door-animation.open .left-door {
  transform: perspective(600px) rotateY(-160deg);
}

.door-animation.open .right-door {
  transform: perspective(600px) rotateY(160deg);
}

/* 로그인 컨텐츠 위치 조정 */
.login-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 600px;
  margin: 0 auto;
  color: #00462A;
}

/* 로그인 폼 정렬 */
.login-form {
  width : 400px;
  margin: 0 auto;
}

/* 입력 필드 스타일 */
.input-field {
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #CEAB93;
  border-radius: 5px;
  color: #DFB188;
}

/* 로그인 버튼 스타일 */
.login-button {
  width: 70%;
  padding: 10px;
  background-color: #00462A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #E3CAA5;
}

/* 링크 스타일 */
.links {
  font-size: 0.9rem;
  color: white;
}

.links span {
  cursor: pointer;
}

.links span:hover {
  text-decoration: underline;
}


/* 팝업 박스 스타일 */
.findpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width : 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index : 1000;
}

/* 폼 필드 스타일 */
.form-group {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  display: block;
  margin: 0px auto;
  font-weight: bold;
}
.form-group input{
  max-width: 50px;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #CEAB93;
  border-radius: 5px;
  color: #DFB188;
}

/* 버튼 그룹 스타일 */
.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button-group button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button-group button[type="submit"] {
  background-color: #00462A;
  color: white;
}

.button-group button:hover {
  background-color: #E3CAA5;
}

.button-group button[type="button"] {
  background-color: #ccc;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.welcome-image {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  animation: floating 3s ease-in-out infinite;
}

.welcome-text {
  font-size: 2.0rem;
  color: #5C401C;
}

@keyframes floating {
  0% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(-10px); /* Move up 10px */
  }
  100% {
    transform: translateY(0); /* Back to starting position */
  }
}